@use '../base/_mixins.scss' as *;
@use '../base/_vars.scss' as *;

.features_section {
  position: relative;
  @include respond-to(mobile-large){
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }
    .idea_bg {
        position: absolute;
        top: auto;
        bottom: 0;
        left: auto;
        right: 5%;
        // width: 100%;
        max-width: 45vw;
        // height: 100%;
        object-fit: cover;
        @include respond-to(mobile-large){
            max-width: 100%;
            position: relative;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            order: 2;
        }
    }
    // background-image: url('../assets/Hair_cut_bg.png');
    // background-size: contain;
    // background-position: right;
    // background-repeat: no-repeat;
    // @include respond-to(md-desktop) {
    //     background-position: right bottom;
    //     background-size: 50%;
    // }
      // @include respond-to(sm-desktop) {
      //   background-position: center;
      //   background-size: cover;
      // }
      // @include respond-to(mobile-large) {
      //         background-position: right bottom;    
      //         padding-bottom: 200px;
      //         background-size: contain;
      //     }
    .block_left {
        width: 60%;
        &.without_image {
          width: 100%;
        }
        @include respond-to(mobile-large) {
            width: 100%;
        }
    }
}
.features_block {
  display: flex;
  gap: 8rem;
  margin-top: 8rem;
  @include respond-to(md-desktop) {
    gap: 4rem;
    flex-direction: column;
  }
  @include respond-to(mobile-large) {
    flex-direction: column;
    margin-top: 4rem;
    gap: 2rem;
  }
  .feature_item {
    display: flex;
    flex-direction: column;

    > p {
        font-size: 2.2rem;
        @include respond-to(mobile-large) {
            font-size: 1.8rem;
        }
    }
    > h4 {
        font-size: 6rem;
        @include respond-to(md-desktop) {
            font-size: 4.6rem;
        }
        @include respond-to(mobile-large) {
            font-size: 4rem;
        }
    }
  }
}

.features_list {
  margin-top: 4rem;
  > ul {
    li {
      position: relative;
      font-size: 2.2rem;
      color: #4C4C4C;
      padding-left: 1.6rem;
      margin-bottom: 1rem;
      @include respond-to(mobile-large){
        font-size: 1.8rem;
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #4C4C4C;
      }
    }
  }
}

.branding_section {
  .branding_container {
    display: grid;
    gap: 8rem;
    grid-template-columns: 1fr 3fr;
    @include respond-to(mobile-large){
      grid-template-columns: 1fr;
      gap: 4rem;
    }
    .left {
      @include respond-to(mobile-large){
        order: 2;
      }
      h2 {
        line-height: 1.1;
        > img {
          @include respond-to(mobile-large){
            max-width: 200px;
            height: auto;
          }
        }
      }
    }
    .right {
      height: 100%;
      border-radius: 2rem;
      @include respond-to(mobile-large){
        order: 1;
      }
      > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        
      border-radius: 2rem;
      }
    }
  }
}