@use "../base/_vars.scss" as *;
@use "../base/_mixins.scss" as *;

.inner_spotlight {
  // min-height: 480px;
  height: 100%;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 47.34%, rgba(0, 0, 0, 0.5) 104.58%),
      linear-gradient(0deg, rgba(0, 0, 0, 0) 75.05%, rgba(0, 0, 0, 0.5) 100%);
    @include respond-to(mobile-horizontal) {
      
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 50.05%, rgba(0, 0, 0, 0.5) 100%);
    }

  }
  @include respond-to(mobile-large) {
    min-height: 660px;
  }
  @include respond-to(mobile) {
    min-height: auto;
  }

  .spotlight {
    // position: absolute;
    // z-index: -1;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    > img {
      height: 100%;
      object-fit: cover;
      @include respond-to(mobile-large) {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  .breadcrumb_container {
    // padding-top: 3rem;
    left: 10%;
    position: absolute;
    top: 3rem;
    z-index: 1;
    @include respond-to(mobile-large) {
      left: 5%;

    }
    .breadcrumb_list {
      list-style: none;
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;

      li {
        span {
          font-size: 1.4rem;
          color: $white;
        }

        a {
          text-decoration: none;
          font-size: 1.4rem;
          color: $white;
          border-bottom: 1px solid $white;
        }

        &:last-child {
          a {
            border-bottom: none;
          }
        }
      }
    }
  }

  .spotlight_content_container {
    position: absolute;
    // bottom: 12rem;
    top: 12rem;
    left: 10%;
    max-width: 45%;
    @include respond-to(sm-desktop) {
      top: 8rem;
    }
    @include respond-to(xxl-desktop-up) {
        left: calc((100vw - 1524px) / 2);
    }
    @include respond-to(mobile-large) {
      left: 5%;
      bottom: auto;
      // padding-top: 4rem;
      max-width: 90%;
    }
  }
}