@use '../base/_vars.scss' as *;
@use '../base/_mixins.scss' as *;

.container_linkedin_posts {
    display: flex;
    gap: 8rem;
    overflow-x: hidden;
    @include respond-to (mobile-large) {
        // max-width: 100%;
        // padding-left: 5%;
        overflow-x: visible;
        gap: 4rem;
        flex-wrap: wrap;
    }
    .block_left {
        width: 30%;
        @include respond-to (mobile-large) {
            width: 100%;
            padding-right: 5%;
        }
    }
    .block_right {
        width: 70%;
        @include respond-to (mobile-large) {
            width: 100%;
        }
        .linkedin_posts {
            @include respond-to (mobile-large) {
                box-sizing: content-box;
            }
        }
    }
}