@use '../base/_mixins.scss' as *;
@use '../base/_vars.scss' as *;


.brand_card {
    background-color: $white;
    border-radius: 2rem;
    img {
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
    }
    .brand_details {
        padding: 2rem;
        .logo_img {
            border-radius: 0rem;
        }
        >h3 {
        font-size: 2.2rem;
        font-weight: 600;

        @include respond-to(md-desktop) {
            font-size: 2rem;
        }
    }
    }

}

// Outer Brands
.other_brands {
    display: flex;
    align-items: center;
    gap: 4rem;
    justify-content: center;
    // flex-wrap: wrap;
    margin-bottom: 8rem;
    @include respond-to(sm-desktop) {
        justify-content: space-between;
    }
    @include respond-to(mobile-large) {
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
    }

    >a {
        padding: 3rem;
        border: 2px solid #005039;
        width: 320px;
        display: flex;
        justify-content: center;
        align-items: center;
        // @include respond-to(mobile-large) {
        //     width: 45%;
        // }
        // @include respond-to(sm-desktop) {
        //     width: 250px;
        // }
        height: 120px;
        @include respond-to(sm-desktop) {
            justify-content: space-between;
        }
        @include respond-to(sm-desktop) {
            width: calc((100% / 3) - 4rem);
            justify-content: center;
        }
        @include respond-to(mobile-large) {
            // height: 100px;
            width: calc((100% / 2) - 2rem);
        }
        @include respond-to(mobile-horizontal) {
            width: 100%;
        }
        &:last-child {
            @include respond-to(mobile-large) {
                // width: 100%;
                display: flex;
                justify-content: center;
            }
        }

        >img {
            max-width: 300px;
            border-radius: 0px;
            @include respond-to(sm-desktop) {
                max-width: 200px;
            }
            @include respond-to(mobile-large) {
                width: auto;
                // height: 40px;
                height: auto;
            }
        }
    }
}

.social_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 1040px;

    .social_links_block {
        width: 100%;
        padding: 4rem;
        display: flex;
        justify-content: center;
        gap: 3rem;

        @include respond-to(mobile-large) {
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }

        >p {
            font-size: 2.2rem;

            @include respond-to(mobile-large) {
                font-size: 1.8rem;
                text-align: center;
            }
        }

        .socials {
            display: flex;
            gap: 2rem;
        }
    }
}

.brand_card:hover .logo_img { 
    transform: translateX(5px);
}
.brand_card .logo_img { 
    transition: 1s linear;
}