@use "../base/_vars.scss" as *;
@use "../base/_mixins.scss" as *;

.stakeholder_section {
    overflow-x: hidden;
    .stakeholder_slider {
        // overflow: visible;
        box-sizing: content-box;
        .swiper-wrapper {
            .card {
                background-color: #fff;
                padding: 2rem;
                border-radius: 2rem;
                > img {
                    max-width: 300px;
                    height: auto;
                }
            }
        }
    }
}

.awards_slider {
    @include respond-to(mobile-large) {
        box-sizing: content-box;
    }
}