@use "../base/_vars.scss" as *;
@use "../base/_mixins.scss" as *;

// Text Alignments
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

// Flex Alignments
.f {
    display: flex;
}

// Grid Alignments
.g {
    display: grid;
    &.gap80 {
        gap: 8rem;
        @include respond-to(mobile-large) {
            gap: 4rem;
        }
    }
    &.gap {
        gap: 6rem;
    }
    &.g2 {
        grid-template-columns: repeat(2, 1fr);
        @include respond-to(mobile-large) {
            grid-template-columns: 1fr;
        }
    }
    &.g3 {
        grid-template-columns: repeat(3, 1fr);
        @include respond-to(mobile-large) {
            grid-template-columns: 1fr;
        }
    }
}

// Common Alignments
.jc-c {
    justify-content: center;
}
.jc-fs {
    justify-content: flex-start;
}
.jc-fe {
    justify-content: flex-end;
}
.jc-sb {
    justify-content: space-between;
}
.ai-c {
    align-items: center;
}
.ai-fs {
    align-items: flex-start;
}
.ai-fe {
    align-items: flex-end;
}

// Mobile Alignments
.mob-jc-fs {
    @include respond-to(mobile-large) {
        justify-content: flex-start;
    }
}