@use "./_mixins.scss" as *;
@use "./_vars.scss" as *;

html {
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
}


// Display Blocks
.d-desktop-block {
    display: block;
    @include respond-to(mobile-large) {
        display: none;
    }
}

.d-desktop-block-imp {
    display: block !important;
    @include respond-to(mobile-large) {
        display: none !important;
    }
}
.d-mobile-block {
    display: none;
    @include respond-to(mobile-large) {
        display: block;
    }
}

.d-mobile-block-imp {
    display: none !important;
    @include respond-to(mobile-large) {
        display: block !important;
    }
}

// Links
a {
    text-decoration: none;
    color: inherit;

    &:focus-visible {
        outline: none;
        border: none;
    }
}

//   Images
.img-fluid {
    max-width: 100%;
    height: auto;
}

// Widths and Heights
.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

// Overflows
.overflow-x-hidden {
    overflow-x: hidden;
}
.overflow-y-hidden {
    overflow-y: hidden;
}
.overflow-hidden {
    overflow: hidden;
}
.overflow-x-visible {
    overflow-x: visible;
}
.overflow-y-visible {
    overflow-y: visible;
}

.overflow-x-hidden-mob {
    @include respond-to(mobile-large) {
        overflow-x: hidden;
    }
}

// Border Radius
.br-10 {
    border-radius: 10px;
}
.br-20 {
    border-radius: 20px;
}

// Cursor
.cursor-pointer {
    cursor: pointer;
}

// Image hover effect
.hover_block {
    overflow: hidden;
    &:hover img {
        transform: scale(1.05);
    }
    > img {
        transition: 1s linear;
    }
}

// Dotted list
.dotted_list {
    li {
        position: relative;
        font-size: 1.8rem;
        padding-left: 1.6rem;
        margin-bottom: 1rem;
        @include respond-to(mobile-large) {
            font-size: 1.6rem;
        }
        &::before {
            content: "";
            position: absolute;
            top: 10px;
            left: 0;
            border-radius: 50%;
            width: 5px;
            height: 5px;
            background-color: $gray;
        }
    }
}