@use './_vars.scss' as *;

.text-primary {
    color: $primary;
}
.text-secondary {
    color: $secondary;
}
.text-white {
    color: $white;
}
.text-primary-light {
    color: $primary-light;
}
.text-black {
    color: $black;
}
.text-gray {
    color: $gray;
}
.text-gray-light {
    color: $gray-light;
}

// Background Colors
.bg-primary {
    background-color: $primary;
}
.bg-secondary {
    background-color: $secondary;
}
.bg-white {
    background-color: $white;
}
.bg-primary-light {
    background-color: $primary-light;
}
.bg-black {
    background-color: $black;
}

.bg-section-primary {
    background-color: $bg-section;
}
.bg-primary-gradient {
    background: $bg-primary-gradient;
}