// Positions
.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.pos-fixed {
    position: fixed;
}

.pos-sticky {
    position: sticky;
}

.pos-static {
    position: static;
}

.pos-inherit {
    position: inherit;
}