@use "./_mixins.scss" as *;
@use "./_vars.scss" as *;

// Swiper Progressbar
.progress-track {
    height: 2px;
    background: #bbbbbb;
    position: relative;
}

.progress-indicator {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: $primary;
    width: 0;
    transition: width 0.4s ease;
    &.golden {
        background: $secondary;
    }
}

.bottom-bar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    width: fit-content;
    width: 100%;
    @include respond-to(mobile-large) {
        grid-template-columns: 1fr auto;
    }
    .actions {
        flex-basis: fit-content;
        display: flex;
        gap: 20px;
        flex-grow: 1;
        justify-content: flex-end;
    }
}

// Custom Prev Button
button.prev {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: $primary-light;
    border-radius: 50%;
    border: 1px solid $primary-light;
    transition: 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    > svg { 
        > path {
            stroke: $white;
        }
    }
    &.swiper-button-disabled {
        border-color: $primary-light;
        background: transparent;
        opacity: 1;
        > svg {
            > path {
                stroke: $primary-light;
            }
        }
    }
  }

// Custom Next Button
button.next {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: $primary-light;
    border-radius: 50%;
    border: 1px solid $primary-light;
    transition: 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: rotate(180deg);
    > svg { 
        > path {
            stroke: $white;
        }
    }
    &.swiper-button-disabled {
        border-color: $primary-light;
        background: transparent;
        opacity: 1;
        > svg {
            > path {
                stroke: $primary-light;
            }
        }
    }
}



// Swiper Button Utils and different pagination style start
.utils {
    display: flex;
    .buttons {
        display: flex;
        gap: 20px;
        align-items: center;
        .swiper-button-prev {
            height: 48px;
            width: 48px;
            border: 1px solid $primary-light;
            color: #fff;
            border-radius: 50%;
            background: $primary-light;
            font-weight: 600;
            cursor: pointer;
            transition: 0.3s ease;
            left: auto;
            right: auto;
            top: auto;
            margin-top: 0;
            &.swiper-button-disabled {
                border-color: $white;
                background: transparent;
                opacity: 1;
            }
            &::after {
                font-size: 18px;
            }
        }
        
        .swiper-button-next {
            height: 48px;
            width: 48px;
            border: 1px solid $primary-light;
            color: #fff;
            border-radius: 50%;
            background: $primary-light;
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
            transition: 0.3s ease;
            left: auto;
            right: auto;
            top: auto;
            margin-top: 0;
            &.swiper-button-disabled {
                border-color: $white;
                background: transparent;
                opacity: 1;
            }            
            &::after {
                font-size: 18px;
            }
        }
    }
    .swiper-pagination {
        width: fit-content;
        bottom: auto;
        right: 0;
        position: relative;
        .swiper-pagination-bullet  {
            height: 1rem;
            width: 1rem;
            background-color: #B7B7B7;
            border-radius: 50%;
            opacity: 1;
            margin-right: 5px;
            margin-left: 5px;
            transition: 0.3s ease;
            &.swiper-pagination-bullet-active {
                background-color: #ffffff;
                width: 4rem;
                border-radius: 10px;
            }
        }
    }
}