@use "../base/_mixins.scss" as *;

// Font Weights
.light {
    font-weight: 300;
}
.regular {
    font-weight: 400;
}
.medium {
    font-weight: 500;
}
.semibold {
    font-weight: 600;
}
.bold {
    font-weight: 700;
}

// Text Cases
.text-uppercase {
    text-transform: uppercase;
}
.text-lowercase {
    text-transform: lowercase;
}
.text-capitalize {
    text-transform: capitalize;
}

// Global Line-height
p , h1 , h2 , h3 , h4 , h5 , h6 {
    line-height: 1.35;
}

p { 
    font-size: 1.8rem;
    @include respond-to(md-desktop) {
        font-size: 1.6rem;
    }
    @include respond-to(mobile-large) {
        font-size: 1.6rem;
    }
}
.h2 {
    font-size: 4.4rem;
    @include respond-to(md-desktop) {
        font-size: 3.6rem;
    }
    @include respond-to(mobile-large) {
        font-size: 3.2rem;
    }
    @include respond-to(mobile) {
        font-size: 2.4rem;
    }
}