$primary : #005039;
$secondary : #B29142;
$primary-light : #10864F;

$white : #fff;
$black : #000;

$gray: #5C5C5C;
$gray-light: #DEDEDE;

// Background Colors
$bg-section: #FDFAF1;
$bg-primary-gradient: linear-gradient(180deg, #005039 0%, #002017 100%);

$btnHover : #352E1E;