@use "../base/_vars.scss" as *;
@use "../base/_mixins.scss" as *;

.products_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    @include respond-to(sm-desktop) {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
    @include respond-to(mobile-horizontal) {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .single_item {
        .img_block {
            border-top-left-radius: 2rem;
            border-top-right-radius: 2rem; 
            > img {
                border-top-left-radius: 2rem;
                border-top-right-radius: 2rem; 
            }
        }
        .text_block {
            padding: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            background-color: #fff;
            border-bottom-left-radius: 2rem;
            border-bottom-right-radius: 2rem;
            @include respond-to(mobile-horizontal) {
                gap: 1rem;
            }
            p {
                font-size: 2.2rem;
                font-weight: 600;
                @include respond-to(md-desktop) {
                    font-size: 1.8rem;
                }
                @include respond-to(mobile-horizontal) {
                    font-size: 1.6rem;
                }
            }
        }
        
    }
}