@use "../base/_vars.scss" as *;
@use "../base/_mixins.scss" as *;

.compliance-card {
  border-radius: 10px;
  background: linear-gradient(90deg, #082c1a 0%, #25573b 100%);
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  margin-bottom: 30px;
  margin-top: 30px;
  .officer-header {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .officer-icon {
    width: 49px;
    height: 49px;
    min-width: 49px;
    border-radius: 50%;
    background: rgba(255, 196, 0, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 18px;
      height: 18px;
      object-fit: contain;
    }
  }

  .officer-details {
    h3 {
      color: #fff;

      font-size: 2.2rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 1rem;
    }

    p {
      color: #fff;

      font-size: 1.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 133.333% */
    }
  }

  .divider-line {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.4);

    margin: 0px 0;
  }

  .office-section,
  .contact-block,
  .timing-section {
    width: 100%;
    h4 {
      color: #b29142;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 133.333% */
      margin-bottom: 1rem;
    }

    p,
    a {
      margin: 0;
      color: #ffffff;
      font-size: 1.8rem;

      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 133.333% */
      text-decoration: none;
    }
    a {
      text-decoration: underline;
    }
  }

  .contact-row {
    display: flex;
    gap: 20px;
    margin: 0px 0;
    width: 100%;
  }

  .contact-block {
    flex: 1;
  }

  .timing-section {
    margin-top: 8px;
  }

  @include respond-to(sm-desktop) {
    padding: 20px;

    .contact-row {
      flex-direction: column;
      gap: 16px;
    }
  }
}
