@use "./_var.scss" as *;

.text-primary {
    color: $primary;
}
.text-secondary {
    color: $secondary;
}
.text-tertiary {
    color: $tertiary;
}
.text-body {
    color: $body;
}
.text-body-dark {
    color: $body-dark;
}

.bg-primary {
    background-color: $primary;
}
.bg-secondary {
    background-color: $secondary;
}
.bg-tertiary {
    background-color: $tertiary;
}

// Colors
.text-white {
    color: $white;
}
.text-black {
    color: $black;
}

// Background Colors

.bg-section-primary {
    background-color: $bg-section;
}
.bg-primary-gradient {
    background: $bg-primary-gradient;
}