// Base Colors
$white: #FFFFFF;
$black: #000000;

// Site Colors
$primary : #005039;
$primary-light: #10864F;
$secondary : #B29142;
$tertiary : #FDFAF1;
$btnHover : #352E1E;

$body: #5C5C5C;
$body-dark: #4C4C4C;

// Background Colors
$bg-section: #FDFAF1;
$bg-primary-gradient: linear-gradient(180deg, #005039 0%, #002017 100%);
